Content:

  Главная:
    main:                   # the main module is required, and must not be removed.
      components:
        header:
        footer:
        contacts:
    slider:
      model:                  Slider
      name:                   Slider|Sliders
      components:
        list:
    maincentertexts:
      model:                  Maincentertexts
      name:                   Текст в центре на главной|Тексты в центре на главной
      components:
        list:
  Продукция:
    category:
      model:                  Category
      page:                   true
      name:                   Категория|Категории
      components:
        list:
        show:
    product:
      parent:                 category
      page:                   true
      name:                   Продукция|Продукция
      components:
        listByCategory:
          filters:            [ category ]
        listOnMain:
        list:
        listMaterials:
        show:
  Feedback:              # arbitrary namespace, used in admin content menu
    contact:             # module's name
      components:        # module's components
        form:            # this module has a form action